// lade eignes Farbschema
@import "./CustomStyle.scss";

$primary-color: $CS_red;
$secondary-color: $CS_red_light;
//$dark-color:;
//$gray-color:;
//$light-color:;
//$success-color:;
//$warning-color:;
//$error-color:;

// 1. Your custom variables and variable overwrites.
$global-link-color: #DA7D02;

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";


html, body, #app {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}
