$CS_red: rgb(184, 32, 11); //#b8200b;
$CS_red_light: rgb(255, 215, 209); //#ffd7d1 
$CS_red_dark: rgb(129,0,0); // #810000

$CS_lightgray: rgb(234,231,231);
$CS_deepgray: #2a2d44;
$CS_deepgray_accent: #35395c;

$CS_gradientRed: #eb3300;
$CS_gradientBlue: #003087;

$background_gray: hsl(0, 0%, 98%);
$background_red: rgb(251,227,225);
