@font-face {
   font-family: 'Rajdhani';
      src: url('./../fonts/Rajdhani/rajdhani-regular-webfont.eot');
      src: url('./../fonts/Rajdhani/rajdhani-regular-webfont.eot?#iefix') format('embedded-opentype'),
           url('./../fonts/Rajdhani/rajdhani-regular-webfont.woff') format('woff'),
           url('./../fonts/Rajdhani/rajdhani-regular-webfont.ttf') format('truetype'),
           url('./../fonts/Rajdhani/rajdhani-regular-webfont.svg') format('svg');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Rajdhani';
      src: url('./../fonts/Rajdhani/rajdhani-medium-webfont.eot');
      src: url('./../fonts/Rajdhani/rajdhani-medium-webfont.eot?#iefix') format('embedded-opentype'),
           url('./../fonts/Rajdhani/rajdhani-medium-webfont.woff') format('woff'),
           url('./../fonts/Rajdhani/rajdhani-medium-webfont.ttf') format('truetype'),
           url('./../fonts/Rajdhani/rajdhani-medium-webfont.svg') format('svg');
   font-weight: 500;
   font-style: medium;
}

@font-face {
   font-family: 'Rajdhani';
      src: url('./../fonts/Rajdhani/rajdhani-light-webfont.eot');
      src: url('./../fonts/Rajdhani/rajdhani-light-webfont.eot?#iefix') format('embedded-opentype'),
           url('./../fonts/Rajdhani/rajdhani-light-webfont.woff') format('woff'),
           url('./../fonts/Rajdhani/rajdhani-light-webfont.ttf') format('truetype'),
           url('./../fonts/Rajdhani/rajdhani-light-webfont.svg') format('svg');
   font-weight: 200;
   font-style: light;
}

@font-face {
   font-family: 'Rajdhani';
      src: url('./../fonts/Rajdhani/rajdhani-bold-webfont.eot');
      src: url('./../fonts/Rajdhani/rajdhani-bold-webfont.eot?#iefix') format('embedded-opentype'),
           url('./../fonts/Rajdhani/rajdhani-bold-webfont.woff') format('woff'),
           url('./../fonts/Rajdhani/rajdhani-bold-webfont.ttf') format('truetype'),
           url('./../fonts/Rajdhani/rajdhani-bold-webfont.svg') format('svg');
   font-weight: 700;
   font-style: bold;
}
